p{
    margin-bottom: 0px;
}
.heder{
    /* border-bottom: 1px solid white; */
    width: 100%;
    color: var(--white);
    background-color: #0E0A31;
    padding: 15px;
}
.feedback-sec{
    margin-top:50px;
}
.feedback-form{
    width: 25%;
    margin: auto;
}
h1{
    font-size: 22px;
    font-weight: 800;  
}
.head-logo img{
    width: 80px;
}
.input label{
    font-size: 16px;
    font-weight: 700;
}

/* input  box----*/
.box-input{
    background-color: #0E0A31;
    padding: 10px;
    margin-left: 0px;
    margin-right: 0px;
}
.input input{
    width: 100%;
    height: 6vh;
    padding: 5px;
    margin-bottom: 20px;
   outline: none;
    color: #0E0A31;
    border-radius: 10px;
    border: 2px solid #43baff;
}
.pass-btn a{
    color: white;
}
.opction-para p{
    background-color: #0E0A31;
}
/* .opction-para p{
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    width: 30px;
    height: 20px;
    background-color: var(--white);
    position: relative;
    z-index: 2;
    font-size: 1rem;
    font-weight: 500;
}
 .opction-para:after{
    content: "";
    position: absolute;
    left: 0;
    top: 50;
    width: 100%;
    height: 2px;
    background: white;
    transform: translateY(-50%);
} */
.btn-subt button{
    background-color: #ffffff;
    border: 2px solid #43baff;
    width: 100%;
    height: 6vh;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    color: #0E0A31;
} 
.btn-subt button:hover{
    background-color: #0E0A31;
    color: #43baff;
    border: 2px solid #43baff;
}

/* Footer  sec----*/
/* 
.footer{
    border-top: 1px solid white;
    width: 100%;
    color: var(--white);
    background-color: #0E0A31;
    padding: 20px;
} */